/* body {
  position: relative;
  background: url('../img/pexels-johannes-plenio-1103970.jpg') no-repeat center
    center/cover;
  background-attachment: fixed;
  height: 100vh;
} */

/* bebas-neue-regular - latin */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    /* url('bebas-neue-v9-latin-regular.woff2') format('woff2'), Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/bebas-neue-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  src: local(''), url('../fonts/oswald-v48-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.font-bebas-neue {
  font-family: 'Bebas Neue';
}

.font-oswald {
  font-family: 'Oswald';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald';
  font-size: 18px;
  letter-spacing: 1px;
}

.background {
  position: relative;
  background: url('../img/pexels-johannes-plenio-1103970.jpg') no-repeat center
    center/cover;
  background-attachment: fixed;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-inner {
  /* height: 100%; */
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dark-overlay {
  background-color: rgba(0, 21, 37, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.light-overlay {
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hr {
  color: #444;
  height: 2px !important;
  width: 100% !important;
  border-radius: 2px;
}

.page-title {
  font-size: 3rem;
  font-family: 'Bebas Neue';
  margin-right: 2rem;
}
.title-div {
  margin: 3rem 5rem;
  display: flex;
  justify-content: space-evenly;
}

.landing-heading {
  font-family: 'Bebas Neue';
  font-size: 3.5rem;
}

.landing-subheading {
  font-family: 'Oswald';
  font-size: 1.3rem;
}

.btn-link-outline {
  text-decoration: none;
  color: white;
}
.btn-link-outline:hover {
  color: #444;
}

/* File Dropzone */
.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
  border-radius: 14px;
}
.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #92b0b3;
}
.files {
  position: relative;
}
.files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: '';
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input {
  background-color: transparent;
}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: ' or drag it here. ';
  display: block;
  margin: 0 auto;
  color: #566;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.main-color {
  color: #566;
}

.results {
  width: 100%;
}

.dropdown button {
  width: 100%;
}

.chart-background {
  background-color: rgba(255, 255, 255, 0.568);
  border-radius: 4px;
  display: 'flex';
  margin-bottom: '2px';
  margin-left: '2px';
  margin-right: '2px';
  text-align: 'center';
  width: 100%;
  height: 90%;
  display: block;
  overflow: scroll;
}

.modal-dialog {
  max-width: 600px;
  margin: 1.75rem auto;
}

.loader {
  margin-top: 30vh;
}
